@import "./common/header.css";
@import "./common/footer.css";

*{
    margin: 0;
}

nav.my_breadcrumb ol.breadcrumb{
    background-color: #1C1C1C;
    width: 100%;
    max-width: 1000px;    
    margin: 0 auto 10px;
}
  
nav.my_breadcrumb ol.breadcrumb .breadcrumb-item > a{
    color: white;
}
  
nav.my_breadcrumb ol.breadcrumb .breadcrumb-item.active{
    color: #F9BF45;
}
  
nav.my_breadcrumb ol.breadcrumb .breadcrumb-item + .breadcrumb-item::before{
    content: ">";
    color: white;
}

/* 內容 */

div.main_container{
    box-sizing: border-box;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    /* border: 1px solid black; */
}


.intro{
    display: grid;
    grid-template-areas: "first second""third fourth";
    gap: 2rem;
}

@media screen and (max-width: 375px) {
    div.main_container{
        width: 90%;
        margin: 0 auto;
    }

    .intro{
        display: grid;
        grid-template-areas: "first" "second" "fourth" "third";
        gap: 2rem;
    }   
}

div.photo1{
    width: 100%;
    max-width: 400px;
    height: 300px;
    grid-area: first;
}

div.info1{
    width: 100%;
    max-width: 400px;
    height: 300px;
    grid-area: second;
}

div.photo2{
    width: 100%;
    max-width: 400px;
    height: 300px;
    grid-area: fourth;
}

div.info2{
    width: 100%;
    max-width: 400px;
    height: 300px;
    grid-area: third;
}

div.photo1 img, div.photo2 img{
    width: 100%;
    max-width: 400px;
    height: 300px;
    object-fit: contain;

}
.info-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}



h3{
	text-align: center;
}

h3.title{
    margin-top: 40px;
    margin-bottom: 30px;
}

/* 下面四格 */
div.four_grid{
    display: flex;
    /* width: 80%; */
    /* flex-direction: column; */
    justify-content: center;
    flex-wrap: wrap;
}

div.four_grid div.info{
    display: inline-block;
    align-items: center;
    margin: 5px;
}

div.four_grid div.info h4{
    text-align: center;
}

div.four_grid div.info:nth-child(1) p, div.four_grid div.info:nth-child(4) p{
    text-align: center;
}

div.four_grid div.info p{
    width: 350px;
    height: 100px;
}

div.four_grid div.info img{
    width: 350px;
    height: 230px;
    object-fit: cover;
    margin-bottom: 30px;
}
