@import "./common/header.css";
@import "./common/footer.css";


*{
    margin: 0;
}

nav.my_breadcrumb ol.breadcrumb{
    background-color: #1C1C1C;
    width: 80%;
    margin: 0 auto 10px;
}
  
nav.my_breadcrumb ol.breadcrumb .breadcrumb-item > a{
    color: white;
}
  
nav.my_breadcrumb ol.breadcrumb .breadcrumb-item.active{
    color: #F9BF45;
}
  
nav.my_breadcrumb ol.breadcrumb .breadcrumb-item + .breadcrumb-item::before{
    content: ">";
    color: white;
}

div.main{
    box-sizing: border-box;
    /* border: 1px solid black; */
    margin: 50px auto;
    width: 100%;
}

h3{
    margin-top: 20px;
    text-align: center;
}


div.qa{
    /* margin-left: 270px; */
    box-sizing: border-box;
    /* border: 1px solid black; */
    padding: 20px 20%;
}


.Question{
    width: 100%;
    border-bottom: 1px #aaa dotted;
    padding: 30px auto;
    }

.Question:hover::before {
    width: 98%;
    padding: 0px 5px 0px 10px;
    color: #78552B;
    content:'➤';
    }

.Answer{
    display: none;
    width: 98%;
    padding: 0px 10px 10px 10px;
    border-bottom: 1px #aaa dotted;
    color: #78552B;
    }

.Answer p{
    padding: 0px 10px 10px 10px;
    }


form.the_form{
    box-sizing: border-box;
    /* border: 1px solid black; */
    margin: 30px 10%;
    padding-left: 25%;

}

div.radio_block{
    display: inline-block;
}

div.block{
    display: block;
}

textarea.notes{
    display: block;
    margin-top: 10px;
    min-width: 500px;
    height: 300px;
    /* overflow: visible; */
}

div.item_block button{
    margin: 20px 25%;
    overflow: visible;

}

div.item_block, div.block{
    margin-top: 10px;

}