@import "./common/header.css";
@import "./common/footer.css";


*{
    margin: 0;
}

nav.my_breadcrumb ol.breadcrumb{
    background-color: #1C1C1C;
    width: 100%;
    max-width: 1000px;    
    margin: 0 auto 10px;
}
  
nav.my_breadcrumb ol.breadcrumb .breadcrumb-item > a{
    color: white;
}
  
nav.my_breadcrumb ol.breadcrumb .breadcrumb-item.active{
    color: #F9BF45;
}
  
nav.my_breadcrumb ol.breadcrumb .breadcrumb-item + .breadcrumb-item::before{
    content: ">";
    color: white;
}

div.main{
    box-sizing: border-box;
    /* border: 1px solid black; */
    margin: 50px auto;
    width: 100%;
}

@media screen and (max-width: 575px) {
    div.main{
        width: 100%;
        margin: 0 auto;
    }

    form.the_form{
    width: 100%;
    }

    textarea.notes{
        width: 300px;
    }

}

/* 常見問題 */
.title1{
    margin-top: 30px;
    text-align: center;
}

.qa{
    box-sizing: border-box;
    width: 90%;
    max-width: 1000px;
    margin: 20px auto 20px auto;
}


.Question{
    width: 100%;
    border-bottom: 1px #aaa dotted;
    padding: 30px auto;
    }

.Question:hover::before {
    width: 100%;
    padding: 0px 5px 0px 10px;
    color: #78552B;
    content:'➤';
    }

.Answer{
    display: none;
    width: 100%;
    padding: 0px 10px 10px 10px;
    border-bottom: 1px #aaa dotted;
    color: #78552B;
    }

.Answer p{
    padding: 0px 10px 10px 10px;
    }

/* 與我聯繫 */
.the_form{
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    width: 90%;
    justify-content: center;
}

.item_block{
    display: flex;
    margin: 10px auto;
    justify-content: center;
}

.radio_block{
    display: flex;
}

.radio_block{
    display: flex;
    flex-direction: row;
}

.tex{
    display: flex;
    flex-direction: column;
}

.item_block button{
    display: flex;
    justify-content: center;
    width: 150px;
    height: 30px;
    font-size: 1.2rem;
    border: transparent;
    color: white;
    background-color: #F9BF45;
    border-radius: 3px;
    margin: 10px auto;
}

.notes{
    width: 300px;
    height: 300px;
}

@media (max-width: 575px){
    .notes{
        width: 100%;
        max-width: 310px;
        height: 200px;
    }
}